.art-blob {
  width: 300px;
  height: 400px;
  background: #1a1405;
  border-radius: 180px 0px;
}

.art-blob img {
  border-radius: 100px 0px 0px 0px;
}

h4 {
  padding-top: 15px;
  padding-left: 13px;
  font-size: 20px;
  line-height: 30px;
}

.art-date {
  padding-top: 10px;
  padding-left: 13px;
  font-size: 16px !important;
  line-height: 15px;
}

.art-button {
  width: 208.64px;
  height: 50px;
  background-color: #ffffff;
  border: 1.27219px solid var(--secondary-color);
  border-radius: 0px 38.1657px;
  color: #251a00;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  border-bottom: 5px solid var(--secondary-color);
  border-right: 5px solid var(--secondary-color);
  margin-top: 100px;
}

.art-blob {
  display: flexbox;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  h1 {
    font-size: 48px;
    line-height: 52px;
  }
  .vector-div {
    display: none;
  }
  .input {
    margin-left: 0px;
    width: 330px;
    height: 50px;
    display: block;
    margin: 0 auto;
  }
  .art-blob {
    width: 240px;
    height: 350px;
    background: #1a1405;
    border-radius: 160px 0px;
  }
  h2 {
    line-height: 52px;
  }
  .ArtSection p {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0;
  }
  .art-date {
    padding-top: 5px;
    padding-left: 8px;
    font-size: 12px !important;
    line-height: 10px;
  }
  .art-blob {
    display: flexbox;
    margin: 0 auto;
  }
}

@media (max-width: 700px) {
  .ArtSection {
    display: block;
    margin: 0 auto;
  }
  .art-first-col {
    display: block;
    text-align: center;
  }
  .art-blob {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
  }

  .art-second-row {
    margin-top: 20px;
  }

  
}
